/*CSS Properties*/
:root{
    --primary-color: #c46d60;        
    --secondary-color: #c5b15f;
    --tertiary-color: #79af59;
    --bg: #e2e7ea;
    --bg2: #ecf1f3;
    --dark: #000000;
    margin: 0; padding: 0;
}

/*Animations*/
@keyframes circle-shrink{
    from {
        transform:translate(-50%,-50%) scale(3);
    }
    to {
        transform:translate(-50%,-50%) scale(0);
    }
}


body{
    margin: 0;
    padding: 0;
    top: 0px;
    background-color: var(--bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-color);
}

h1{
    font-size: 50px;
}
h2{
    font-size: 20px;
}



/*Nav Bar*/

.hamburger{
    width: 50px;
    height: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger div{
    flex: 0 1 15%;
    margin-top: 10px;
    background-color: var(--tertiary-color);
}

/*Nav Contents Wrapper*/
nav > div:nth-child(2){
    position: fixed;
    top: 0px;
    left: -100%;
    background-color: var(--tertiary-color);
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 1;
    transition: left 1s;
}
/*Nav Contents*/
nav > div:nth-child(2) div{
    display: flex;
    flex-direction: column;    
    height: 200px;
}
/*Nav Content Links*/
nav > div:nth-child(2) div a{
    flex: 0 1 auto;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    border-bottom: 1px solid var(--secondary-color);
    padding-top: 20px;
    padding-left: 20px;
    text-align: center
}

a:hover{
    background-color: var(--secondary-color);
}


/*Splash Screen*/
#splash{
    position: relative;
    text-align: center;
    pointer-events: none;
    width: 100%;
    height: 100vh;
}
#splash div:first-child{
    position: absolute;
    width:100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
#splash div:first-child h2{
    color: var(--secondary-color);
}

#circle-intro{
    position: absolute;
    top: 50%; left: 50%;
    width: 100%; height: 100%;
    animation-fill-mode: forwards;
    animation-name: circle-shrink;
    animation-duration: 2s;
    z-index: 2;
}
#circle-intro circle{
    fill: var(--secondary-color);
}


#splash-board{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    filter: blur(3px);
}

/*Skills*/
#about{
    text-align: center;
    background-color: var(--bg2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title";
}
#about h2{
    font-size: 2em;
    grid-area: title;
}
.skill-group{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: var(--secondary-color);
}
.skill-group h3{
    color: var(--primary-color);
}
.skill-group > svg path{
    fill: var(--dark);
}
.skill-group p svg path{
    fill: var(--tertiary-color);
}


/*Media Queries*/
@media screen and (min-width: 480px){
    #about{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title title";
    }
}
@media screen and (min-width: 768px) {
    #about{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "title title title"
    }
    .skill-group:last-child{
        grid-column-start: 2; 
        grid-column-end: 3;
    }
}
@media screen and (min-width: 1024px){
    #about{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "title title title title"
    }
    .skill-group:last-child{
        grid-column: auto;
    }
}