/*Main CSS for portfolio site. [Mobile first]*/

/*CSS Properties*/
:root{
    --primary-color: #c46d60;        
    --secondary-color: #c5b15f;
    --tertiary-color: #79af59;
    --bg: #e2e7ea;
    --bg2: #ecf1f3;
    --bg-trans: #e2e7ea88;
    --dark: #000000;
    margin: 0; padding: 0;
}

/*Animations*/
@keyframes circle-shrink{
    from {
        transform:translate(-50%,-50%) scale(3);
    }
    to {
        transform:translate(-50%,-50%) scale(0);
    }
}


body{
    margin: 0;
    padding: 0;
    top: 0px;
    background-color: var(--bg);
    font-family: "Open Sans";
    color: var(--primary-color);
}

h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
p{
    font-size: 16px;
}

a{
    color: var(--tertiary-color);
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}


/*Nav Bar*/

.hamburger{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hamburger div{
    flex: 0 1 15%;
    margin-top: 10px;
    background-color: var(--tertiary-color);
}

/*Nav Contents Wrapper*/
nav > div:nth-child(2){
    position: fixed;
    top: 0px;
    left: -100%;
    background: linear-gradient(to left, var(--secondary-color), var(--bg));
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: left 1s;
}
/*Nav Contents*/
nav > div:nth-child(2) div{
    display: flex;
    flex-direction: column;    
    height: 200px;
}
/*Nav Content Links*/
nav > div:nth-child(2) div a{
    flex: 0 1 auto;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    border-bottom: 1px solid var(--secondary-color);
    padding-top: 20px;
    padding-left: 20px;
    text-align: center
}

nav a:hover{
    background-color: var(--secondary-color);
}


/*Splash Screen*/
#splash{
    position: relative;
    text-align: center;
    pointer-events: none;
    width: 100%;
    height: 100vh;
}
#splash div:first-child{
    position: absolute;
    width:100%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
#splash div:first-child h3{
    color: var(--secondary-color);
}

#circle-intro{
    position: absolute;
    top: 50%; left: 50%;
    width: 100%; height: 100%;
    animation-fill-mode: forwards;
    animation-name: circle-shrink;
    animation-duration: 2s;
    z-index: 2;
}
#circle-intro circle{
    fill: var(--secondary-color);
}


#splash-board{
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -1;
    filter: blur(3px);
}

/*Skills*/
#skills{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title";
}
#skills h2{
    grid-area: title;
}
.skill-group{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    color: var(--secondary-color);
}
.skill-group h3{
    color: var(--primary-color);
}
.skill-group > svg path{
    fill: var(--dark);
}
.skill-group p svg path{
    fill: var(--tertiary-color);
}

/*Projects*/
#projects{
    text-align: center;
    background: linear-gradient(to bottom, var(--bg), var(--dark));
}
#projects h2{
    font-size: 2em;
}
.project{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "p-title"
    "."
    "."
    "."
    "."
    "learn-more";
    color: var(--primary-color);
    margin: 10px 0;   
}
.project > *{
    padding: 10px;
}

.project > div:first-child{
    text-shadow: 1px 1px 0 var(--dark);

}

.project > div > h3:first-child{
    margin-bottom: 0;
}
.project > div > p:first-of-type{
    margin-top: 0;
    color: var(--tertiary-color);
    font-size: .85em;
}
.project > div > p:nth-of-type(2){
    color: var(--secondary-color);
}

.project > div:first-child{
    grid-area: p-title;
}
.project > div:not(:first-child){
    margin: 10px;
}
.project > a{
    grid-area: learn-more;
}

.project > div > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    align-items: center;
}

.project > div > div > p{
    background-color: var(--secondary-color);
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    flex: 0 1 100%;  
}

/*Specific Projects*/
.automaestro{
    background-image: url("../media/automaestro/automaestro-gameplay-sm.jpg");
    background-position: center center;
    --primary-color: white;
    --secondary-color: grey;
    --tertiary-color: #7c7c7c;
}
.space-voyager{
    background-image: url("../media/space-voyager/space-voyager.png");
    background-position: center center;
    --primary-color: white;
    --secondary-color: grey;
    --tertiary-color: #7c7c7c;
}
.checkers{
    background-image: url("../media/checkers/checkers2.png");
    background-position: center center;
    --primary-color: rgb(109, 98, 98);
    --secondary-color: white;
    --tertiary-color: rgb(207, 98, 98);
}
.expand{
    background-image: url("../media/expand/expand1.jpg");
    background-position: center center;
    --primary-color: rgb(133, 130, 130);
    --secondary-color: white;
    --tertiary-color: rgb(229, 44, 253);
}
.fps-finite-platform-shooter{
    background-image: url("../media/fps/fps4-sm.png");
    background-position: center center;
    --primary-color: rgb(173, 10, 132);
    --secondary-color: white;
    --tertiary-color: rgb(229, 44, 253);
}
.fantasy-world{
    background-image: url("../media/fantasy-world/fantasy-world.jpg");
    background-position: center center;
    --primary-color: rgb(28, 170, 40);
    --secondary-color: rgb(255, 255, 255);
    --tertiary-color: rgb(241, 177, 57);
}
/*******************************/



/*Contact*/
#contact{
    text-align: center;
}
#contact > div:first-of-type{
    display: flex;
    justify-content: center;
}
#contact > div:first-of-type > *{
    margin: 0 10vw;
}
#contact a:hover{
    color:var(--secondary-color);
}

/*Footer*/
footer{
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid var(--dark);
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--bg2);
}
footer > *{
    margin: 10px 20px;
}

/*Media Queries*/

/*Phones in landscape*/
@media screen and (min-width: 480px){
    #skills{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "title title";
    }
    .project{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "p-title p-title"
        ". ."
        ". ."
        "learn-more learn-more"
    }

}
/*Tablets*/
@media screen and (min-width: 768px) {
    /* #skills{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "title title title"
    }
    .skill-group:last-child{
        grid-column-start: 2; 
        grid-column-end: 3;
    } */

    #skills{
        margin: 0 5%;
    }

    /*Make project features fit 2 to a row*/
    .project > div > div > p{
        flex: 0 1 40%;
    }

}
/*Computers*/
@media screen and (min-width: 1024px){
    /* #skills{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "title title title title"
    }
    .skill-group:last-child{
        grid-column: auto;
    } */

    .project{
        padding: 0 10%;
    }
}