/*
  Primary: #2E294E - purple
  #4f337d - light purple
  #808080 - grey
  Mood: Professional yet creative.
  */


/*Animation Rules*/
@keyframes intro{
    from{ background-color: black;}
    to{background-color: #2E294E;}
}
@keyframes introText{
    from {color: black; }
    to {color: white; }
}
@keyframes introSubtext{
    from {color: black; }
    to {color: 808080; }
}


/* Rules for icon sizes: */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 {font-size: 64px;}


body{
    background-color: #FBFBFF;
    font-family: "Open Sans", sans-serif;
    color: white;
}

h1{
    color: white;

}
h2{
    color: #808080;
}

img{
    width: 50%;
    height:auto;
    border: 10px solid black;

}

a{
    color: #cb7b32;
    text-decoration: none;
}
a:hover{
    color: #b57031;
    text-decoration: none;
}
a:visited{
    color: #cb7b32;
    text-decoration: none;
}

.center-hv{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottomCenter{
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.center-h{
    margin: auto;
    text-align: center;
}

.full-purple{
    display: block;
    background-color: #2E294E;
    min-height: 100vh;
    position: relative;
}

.full-purple-to-grey{
    display: block;
    background-color: #402965;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(#2E294E, #402965);
}

.full-grey-to-purple{
    display: block;
    background-color: #402965;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(#402965, #2E294E);
}

.centerText{
    text-align: center;
}

.row.half{
    min-height: 50vh;
}
.row.half .col-md-6{
    min-height: 50vh;
}

.skill-front, .icon, img{
    opacity: 1;
    transition: opacity .5s ease-in-out;
}
.skill-front:hover, .icon:hover, img:hover{
    opacity: .5;
}

.skill-content{
    background-color: #2E294E;
    padding: 10px;
}

.description{
    line-height: 135%;
    color: white;
    width: 50%;
    margin:auto;
    padding:10px
}

.footer{
    display: block;

    position: relative;
    background-color: #2E294E;
}


#splash{
    animation-name: intro;
    animation-duration: 4s;
}

#title{
    animation-name: introText;
    animation-duration: 4s;
    font-size: 60px;
}
#subtitle{
    animation-name: introSubtext;
    animation-duration: 4s;
}
