/*
  Primary: #2E294E - purple
  #4f337d - light purple
  #808080 - grey
  Mood: Professional yet creative.
  */


/*Animation Rules*/
@keyframes intro{
    from{ background-color: black;}
    to{background-color: #2E294E;}
}
@keyframes introText{
    from {color: black; }
    to {color: white; }
}
@keyframes introSubtext{
    from {color: black; }
    to {color: 808080; }
}

body{
    background-color: #FBFBFF;
    font-family: "Open Sans", sans-serif;
    color: white;
}

h1{
    color: white;

}
h2{
    color: #808080;
}

img{
    width: 50%;
    height:auto;
    border: 10px solid black;

}

.center-hv{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottomCenter{
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.center-h{
    margin: auto;
    text-align: center;
}

.full-purple{
    display: block;
    background-color: #2E294E;
    min-height: 100vh;
    position: relative;
}

.full-purple-to-grey{
    display: block;
    background-color: #402965;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(#2E294E, #402965);
}

.full-grey-to-purple{
    display: block;
    background-color: #402965;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(#402965, #2E294E);
}

.centerText{
    text-align: center;
}

.row.half{
    min-height: 50vh;
}
.row.half .col-md-6{
    min-height: 50vh;
}

.skill{
}

.skill-front{
    opacity: 1;
    transition: opacity .5s ease-in-out;
}
.skill-front:hover{
    opacity: .5;
}

.skill-content{
    background-color: #2E294E;
    padding: 10px;
}

.description{
    line-height: 135%;
    color: white;
    width: 50%;
    background-color: #2E294E;
    margin:auto;
    padding:10px
}

#splash{
    animation-name: intro;
    animation-duration: 4s;
}

#title{
    animation-name: introText;
    animation-duration: 4s;
    font-size: 60px;
}
#subtitle{
    animation-name: introSubtext;
    animation-duration: 4s;
}
